.devcontainer/
.github/
.vscode/
docs/
*scripts/
*.gitignore
*README.md
*/target/
.env*
cowparse/Cargo.lock
cowbot/.env
cowbot/.env.example
cowserve/previews
cowserve/.env
cowserve/.env.example
cowsite/.env
cowsite/.env.example
